body{
    background-color: rgb(44, 44, 44);
}

.formulario{
    max-width: 800px;
    margin-top: 200px;
    margin-left: 400px;
    color: aliceblue;
    font-size: 30px;
}

button{
    margin-top: 10px;
}